li{
    list-style-type: none;
}
div > img {
    width: 150px;
    height: 100px;
}

.container{
    width: 152px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    //border: 2px solid blue;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

button{
    margin: 10px;
}

.redColor{
    border: 2px solid red;
}

.blueColor{
    border: 2px solid blue;
}
