li{
    list-style-type: none;
}
div > img {
    width: 150px;
    height: 100px;
}

.container{
    width: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid blue;
    margin: 10px;
    text-align: center;
}